In [1]:
import numpy as np
import pandas as pd

In [24]:
df = pd.DataFrame({'I':[1, 2, 3], 'II':[4, 5, 6], 'III': [7, 8, 9]}, index = ['A', 'B', 'C'])

In [32]:
df['I']

A    1
B    2
C    3
Name: I, dtype: int64

In [7]:
print df

   A  B  C
A  1  4  7
B  2  5  8
C  3  6  9

In [33]:
df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [38]:
def add1(x):
    return x + 1

In [39]:
def standardize(series):
    mean = np.mean(series)
    std  = np.std(series)
    return (series - mean/std)

In [37]:
df.applymap(add1)

   0  1   2
0  2  3   4
1  5  6   7
2  8  9  10